@charset "utf-8";
/************************************************************************
 * 프로젝트   	: 이스타항공 AUTH시스템
 * 파일명      	: dev.custom.css
 * 설명         	: 개발단에서 사용되는 css 목록(개발자 작성)
 * 작성일      	: 2018.04. 30
 * 작성자		: Dev.ywkim
************************************************************************/

#hhsnTabs .ui-state-active,
#hhsnTabs.ui-widget-content .ui-state-active,
#hhsnTabs .ui-widget-header .ui-state-active,
#hhsnTabs a.ui-button:active,
#hhsnTabs .ui-button:active,
#hhsnTabs .ui-button.ui-state-active:hover {
	border: 1px solid #b0282a!important;
	background: #8e0114!important;
}

#hhsnTabs.ui-tabs {
    padding: .0em!important;
}	
#hhsnTabs.ui-tabs .ui-tabs-panel {
    padding: 0!important;
	padding-top: 10px!important;
}

#hhsnTabs.ui-widget-content {
    border: 0px solid #dddddd!important;
}
#hhsnTabs.ui-widget.ui-widget-content {
    border: 0px solid #c5c5c5!important;
}	
.fc-sun{
    background: #ef58587d;
}
.fc-sat{
    background: #4f6bf58a;
}

#hhsnTabs .fc-event {
    font-size: 1em!important;
    line-height: 1.5!important;
	font-weight: bold!important;
}

.TM5MenuMain {
    z-index: 1000!important;
}
.view_table_area td.view_area .txt_view {overflow-x: auto!important;}