/* reset */
*{font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
body{background:#f3f3f3;word-wrap:break-word;word-break:keep-all}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;}
a{color:#666;text-decoration:none}
a:active, a:hover{text-decoration:underline}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
.blind, caption, legend {visibility:hidden; overflow:hidden; position:absolute; top:-999em; left:-999em; width:1px; height:1px; font-size:0; line-height:0}
.table_reset { border-collapse:collapse; width:100%; margin:0; padding:0; position: relative; width: 100%; border-spacing: 0; }

.hideTxt { overflow: hidden; color: transparent; text-indent: 100%; white-space: nowrap; }
.email_head { position:relative;width:100%;height:70px;background:#d00b40;}
.email_head h1 span{ display: block; position: absolute; top: 15px; left:25px; width:251px; height: 35px; background: url(../../../images/admin/eastarjet_logo_email.png) no-repeat 0 0;  }

.email_wrap .em_content { margin:20px; padding:20px 25px; border:1px solid #e0e0e0;   height: auto;  box-sizing: border-box; background-color: #fff; }
.comment_mdr { display:block; overflow:hidden; padding:25px 0; border-top:1px solid #CCC; border-bottom:1px solid #CCC }
.comment_mdr h2 { color: #000; font-size: 25px; text-align: center; }
.comment_mdr p { color: #000; font-size: 18px; text-align: center; letter-spacing: -1.3px; }

.boardTypeview table{table-layout: fixed; width: 100%; border-bottom:1px solid #dedede}
.boardTypeview th { vertical-align: middle; height: 30px; padding: 10px 10px 10px 20px; color: #434a5d; font-size:14px; font-weight: 700; text-align: left; border-top: 1px solid #ccc; background-color:#f8f9fb; border-right:1px solid #dedede }
.boardTypeview td { vertical-align: middle; height: 30px; padding: 10px 10px 10px 20px; color: #434a5d; font-size:14px; font-weight: 700; text-align: left; border-top: 1px solid #ccc; background-color:#FFF}
.boardTypeview td :first-child { margin-left: 0; }
.boardTypeview span.desc, .boardTypeForm span.error { vertical-align: middle; margin-left: 8px; font-size:13px; }
.boardTypeview .desc { color: #2763ba; }
.boardTypeview .txtWrap { display: inline-block; vertical-align: middle; margin: 0 10px; line-height: 29px; }
.boardTypeview .txtWrapB { display: inline-block; vertical-align: middle; margin: 0 5px; font-size:13px; font-weight: 700; color:#fff !important
; line-height: 24px; padding: 0 8px; background-color:#999 }


.btnWrap { display: block; position: relative; margin-top: 10px; text-align: right; }
.alignC {text-align: center!important;}
.btnType03_1{ display: inline-block; overflow: visible; width:270px; height: 60px; padding: 0 25px; font-size: 18px; font-weight:700; text-align: center; line-height: 38px; cursor: pointer; vertical-align: middle; margin-left: 8px; border: 1px solid #CCC; color: #434a5d; background-color: #fff; }
.btnType03_3{ display: inline-block; overflow: visible; width:270px; height: 60px; padding: 0 25px; font-size: 18px; font-weight:700; text-align: center; line-height: 38px; cursor: pointer; vertical-align: middle; margin-left: 8px; border: 1px solid #434a5d; color: #FFF; background-color: #434a5d; }
.red { color:#C00 !important }