@charset "utf-8";
/************************************************************************
 * 프로젝트   : 이스타항공 AUTH시스템
 * 파일명      : component.css
 * 설명         : 기본_공통
 * 작성일      : 2018.02
************************************************************************/

/* Layout */
/*#wrap{width:1300px;margin:0 auto;_text-align:left}*/
#wrap{position: relative; min-width:1300px; height: 100%; margin: 0 auto}
#header{ width: 100%; margin: 0 auto; background:url(../../../images/user/top_bg.png) repeat-x}
#container{width:1300px;display:block; overflow:hidden; margin: 0 auto !important    }
#container:after{ display: inline-block; clear:both;content:''}
.snb{float:left; overflow:hidden; width:240px; min-height: 650px; background:#f3f4f5;}
.content{ width:1060px; float:right   }
#footer{width:100%}
.content{/*width:1050px;*/  }
#footer{width:auto; /*padding: 10px 0;*/ }

/* Head */
.admin_head {/*width:1300px;*/ width:1300px; padding-top:10px; margin:0 auto}
.admin_head:after {display:block;visibility:hidden;height:0;content:'';font-size:0;clear:both}
.admin_head h1 {display:inline;float:left;margin-left:2px;font-weight:bold;font-size:32px;line-height:40px;letter-spacing:-1px}
.logo_img {display:block;width:300px;height:37px; background: url(../../../images/user/eastarjet_logo.png) no-repeat;  background-size:251px 35px}

.page_services {display:inline;float: right;margin:7px 10px 0 11px}
.page_services li {display:inline;float:left; }
.page_services .link_services {display:block;height:24px;font-weight:normal;font-size:13px;color:#333;line-height:24px; }

/* gnb */
.top_Gnb {float:left;/*width:1300px;*/ width:100%; min-width:1300px; margin-top:10px; height:43px;}
.top_Gnb .gnb_comm > li {float:left; position:relative; }
.top_Gnb .gnb_comm {  left:0; }
.gnb_comm .link_gnb {display:block; width: 144px;  height:43px; line-height:43px;font-weight:bold;font-size:14px; color:#FFF; text-align:center; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.gnb_comm .link_gnb:hover, .gnb_comm .link_gnb:focus { background-color:#a91e3e }
.gnb_comm .on .link_gnb, .gnb_comm .on .link_gnb:hover, .gnb_comm .on .link_gnb:focus { color:#fff; background-color:#a91e3e }
/* gnb 풀다운메뉴 */
.gnb_comm:after {content:""; display:block; clear:both;}
.gnb_box {z-index:99; position:absolute; top:100%; left:0px; width:100%; overflow:hidden; max-height:0; transition:max-height 0.5s;}
.top_Gnb > ul > li > .gnb_box > ul { transform:translateY(-100%); transition: transform 0.5s; }
.top_Gnb > ul > li > .gnb_box > ul > li {color:#fff; }
.top_Gnb > ul > li:hover > .gnb_box { max-height:550px;}
.top_Gnb > ul > li:hover > .gnb_box > ul { transform:translateY(0%); }
.down_gnb {  display:block; width:144px; text-align:center; height:43px; line-height:43px; background-color:#a91e3e; color:#fff !important; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;}
.down_gnb:hover { color:#FF0 !important; font-weight:700  }

/* location */
#header .loc_area { margin:0 auto; width:1300px;  height:30px; overflow:hidden; position:relative; border-bottom: 1px solid #dadada;  }
#header .loc_area .location{position:absolute; top:5px; right:15px; overflow:hidden;}
#header .loc_area .location span img{ padding-top:4px;  }
#header .loc_area .location span{display:block; float:left; margin-left:5px; padding-left:15px; font-size:12px; line-height:22px; color:#67686a; background: url(../../../images/user/location_icon.gif) no-repeat 0 6px; }
#header .loc_area .location span:first-child{margin-left:0; padding-left:0; background:none; }
#header .loc_area .location span.emp{font-weight:bold; color:#3e3f40;}

/* 로그인 정보 */
.user_area .user_info { padding: 10px 10px}
.user_area .user_info:after { clear: both; overflow: hidden; display: block; height: 0; content: '';}
.user_area .user_thumbnail { position: relative; float: left; width: 34px; height: 34px; padding: 2px; margin-right: 5px; }
.user_area .user_thumbnail img { width: 34px; height: 34px; max-width: 100%; max-height: 100%; /*border-radius: 100%;*/ }
.user_area .private {overflow:hidden; display:block }
.user_area .private .user_name { display:block; font-size: 12px; font-weight: 700; margin-top:3px; margin-right: 6px; color:#434a5d }
.user_area .private .department_info { display:block; margin-top:3px; font-size: 12px; color: #434a5d; }
.info_btn_box { position:relative; clear:both; overflow:hidden; /*border-bottom:1px solid #bec6cf;*/ }
.info_btn_box li { float:left; width:49.5%; margin:0 -1px 0 0; box-sizing:border-box; }
.info_btn_box li a.tab_Btn { display:block; line-height:14px; text-align:center; font-size:12px; padding: 7px 0 6px; }
.info_btn_box li a.tab_Btn { width: 100%; float: left; text-align: center; color: #434a5d; background: #fff; border: 1px solid #ddd;  }
.info_btn_box li a:hover { color: #fff; border: 1px solid #b0282a;  font-weight:700; background-color:#b0282a; }

/* AUTH결정 정보 */
#container .snb .info_area { height: auto; padding:10px 10px; border:1px solid $4e5a72; background-color:#ddd; }
#container .snb .info_area p{ margin:4px 0; position:relative; }
.inf_tit1 { padding: 10px 0 9px 40px;border:1px solid #e4e4e4; background: #fcfcfc url(../../../images/user/info1_icon.png) no-repeat 16px 10px; line-height:16px; color:#333; font-weight:bold; -webkit-box-sizing: border-box;}
.inf_tit2 { padding: 10px 0 9px 40px;border:1px solid #e4e4e4; background: #fcfcfc url(../../../images/user/info2_icon.png) no-repeat 16px 10px; line-height:16px; color:#333; font-weight:bold; -webkit-box-sizing: border-box;}
.inf_tit3 { padding: 10px 0 9px 40px;border:1px solid #e4e4e4; background: #fcfcfc url(../../../images/user/info3_icon.png) no-repeat 16px 10px; line-height:16px; color:#333; font-weight:bold; -webkit-box-sizing: border-box;}
.inf_tit4 { padding: 10px 0 9px 40px;border:1px solid #e4e4e4; background: #fcfcfc url(../../../images/user/info3_icon.png) no-repeat 16px 10px; line-height:16px; color:#333; font-weight:bold; -webkit-box-sizing: border-box;}
.inf_tit5 { padding: 10px 0 9px 40px;border:1px solid #e4e4e4; background: #fcfcfc url(../../../images/user/info3_icon.png) no-repeat 16px 10px; line-height:16px; color:#333; font-weight:bold; -webkit-box-sizing: border-box;}
.inf_tit1 span, .inf_tit2 span, .inf_tit3 span, .inf_tit4 span, .inf_tit5 span { font-size:11px; position: absolute; top:6px; right:5px; border:1px solid #bdc5d6; background-color:#e9ecf3; width:20px; text-align:center; padding:3px 5px 2px; }

/* snbLnb */ /* 사용변경 */
.snbLnb { padding:0 0px; width:240px; border-top:1px solid #d12149; box-sizing:border-box; z-index:1;}
.snbLnb .lnbTit {display:block; position:relative; padding: 10px 0; font-size:18px; font-weight:700; padding-left:10px; background-color:#d12149; color:#FFF; }
.snbLnb .lnbGroup { overflow: hidden }
.snbLnb .lnbGroup li {font-size:14px;  padding: 8px 8px 8px 10px; color:#000; letter-spacing:-1px;  border-bottom:1px solid #cecece}
.snbLnb .lnbGroup li a {color:#000; overflow:hidden; display:block;  line-height:19px;}
.snbLnb .lnbGroup li:hover, .snbLnb .lnbGroup .on {color:#39f; font-weight:700; background-color:#ececec}

/* 서브메뉴 */
.snb_group, .user_area { border-style:solid; border-width:1px; border-color:#ebebeb #c8c8c8 #c8c8c8 #ebebeb; margin:8px; background-color:#FFF; }
.snb_g_area {position:relative; overflow:hidden;}
.snb_g_area ul{margin:0;padding:0;list-style:none}
.snb_g_area li { position:relative; vertical-align:top;*zoom:1;}
.snb_g_area li a{display:block;position:relative;padding:8px 10px; text-decoration:none;background:#8e0114;*zoom:1;  font-weight:bold; color:#FFF !important; border-bottom:1px solid #ab4351 }
.snb_g_area li a span { font-size:12px;}
.snb_g_area li a .i{position:absolute;top:50%;left:100%;width:8px;height:8px;margin:-4px 0 0 -16px;color:#ccc; background: url(../../../images/user/ico_sub.png) no-repeat left top}
.snb_g_area li ul{ background:#fff}
.snb_g_area li li{margin:0}
.snb_g_area li li a{padding:8px 10px;border:0;background:#fff;font-weight:normal; font-size:12px;}
.snb_g_area li li a span{color:#666;}
.snb_g_area li.active{z-index:2; }

.snb_g_area li.active .i{background-position:0 -44px}

.snb_g_area li.active ul{display:block; }
.snb_g_area li.active li.active a span{font-weight:bold;color:#8e0114;letter-spacing:-1px; }
.snb_g_area li.active li a:hover {color:#39f; font-weight:700; background-color:#ffeeec}

/* AUTH결제 현황 */
.auth_info_box { overflow:hidden; padding: 15px 10px; margin:10px;  background:#fff; border-style:solid; border-width:1px; border-color:#ebebeb #c8c8c8 #c8c8c8 #ebebeb;background-color:pink}


/* auth score 20180414 */
.auth_info_box_01 {display: block; margin:10px;  background:#fff; /*border-style:solid; border-width:1px; border-color:#ebebeb #c8c8c8 #c8c8c8 #ebebeb;*/ }
.auth_info_box_01::after {content:""; display:block; clear:both;}
.auth_info_box_01 ul {display:block; float:right;}
.auth_info_box_01 ul::after {content:"";display:block; clear:both;}
.auth_info_box_01 ul li { display:block;float:left; width:160px; height:40px; margin-right:4px; border:1px solid #cecece; box-sizing:border-box; }
.auth_info_box_01 ul li:nth-last-child(1) {margin-right:0px;}
.auth_info_box_01 ul li a {background-color:#f0f3f5;position:relative;display:block; width:100%; height:100%;vertical-align: middle;}
.auth_info_box_01 ul li a::after{content:""; display:block; clear:both;}
.auth_info_box_01 ul li a p {position:absolute;background-color:#f0f3f5; float:left; width:54%; text-align:center;  font-weight:bold; font-size:12px; color:#434a5d;}
.auth_info_box_01 ul li a .auth_info_box_header {top:50%;transform:translateY(-50%);}
.auth_info_box_01 ul li a .auth_info_box_number {right:0;height:100%;line-height:40px;width:46%;background-color:#fff; color:#b0282a; font-size:18px; border-left:1px solid #ccc; box-sizing: border-box; font-family: 'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;}

.stepTab { display:block; overflow:hidden }
.stepTab li.current { border: 1px solid #d00b40; color: #fff; background: #d00b40; }
.stepTab li:first-child {margin-left: 0; }
.stepTab li { float: left; width: 172px; margin-left: -1px; padding: 10px 0 9px 30px; border: 1px solid #ccc; color: #ccc;font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; font-size: 15px; font-weight:bold; background-color:#FFF }
.stepTab li.current b { color: #f6c4d1; }
.stepTab li b { display: block; margin-top: -2px; font-size: 15px; font-weight:bold; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.col_pu {display:inline;}
.tit_btn_area {display: inline-block; position: absolute; right:5px;}
.pushBtn {float:left; display:inline; margin-left:-1px; z-index:1; width:90px;}
.pushBtnSel {position:relative; color:#fff !important; border: 1px solid #ab4351 !important; border-radius:0px; background-color:#ab4351 !important; z-index:2;}
.pushBtn {display:inline-block; text-align:center; -webkit-box-sizing:border-box; -webkit-box-align:center; overflow:hidden; font-weight:bold; border:1px solid #CCC; padding:0 5px 0 5px; height:28px; background:#fff; color:#333; font-size:12px; border-radius:0px;}


/* 컨텐츠 본문 */
.content_wrap { display:block; overflow:hidden; width:1060px; }
.cont_box { overflow:hidden; padding: 15px 10px; margin:10px;  background:#fff; border-style:solid; border-width:1px; border-color:#ebebeb #c8c8c8 #c8c8c8 #ebebeb}
.cont_box .hdBx {position:relative; padding-bottom:10px; border-bottom:2px solid #4a5370; overflow:hidden; }
.cont_box .hdBx.noline {border-bottom:0;}
.cont_box .hd {display:inline-block; font-size:26px; color:#000; font-weight:normall ; line-height:30px; letter-spacing:-2px; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;  }
.cont_box .hd_blue {margin-top:20px; margin-bottom:18px; font-size:20px; color:#000; font-weight:normall ; }
.cont_box .hd_blue:before {content:""; display:inline-block; width:4px; height:21px; margin:-5px 7px 0 0; background-color:#d12149; vertical-align:middle;}
.cont_box .bx_2 {display:block; padding:18px 15px 0;}

.supText { font-size:12px; color: #666; text-align: right;}
.required { vertical-align: middle; color: #c00; }

.btnWrap { display: block; position: relative; text-align: right; }
.btnWrap_r { display: block; position: absolute ; top:13px; right:0px;  }
.alignC {text-align: center!important;}

.form_area_Wrap { display:block; overflow:hidden }
.ivauth_view { border:1px dashed #d12149; padding:15px;}
.termsWrap .persinforbox { margin: 0 0 10px;}
.persinforbox { display:block; overflow:hidden; position:relative}
.persinforbox .titCntTP { margin-bottom:5px; font-size: 18px; font-weight: bold; color: #b0282a; margin-top: 10px; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.persinforbox .titCntTP:before { content: ''; display: inline-block; width: 16px; height: 16px; margin: 0 3px 0 0; vertical-align: middle; 	background: url(../../../images/user/dot_h_icon.png) no-repeat 0 -1px; }
.change_area { position:absolute; top:10px; right:10px;  }

/* search */
.tb_scharea {position:relative; overflow:hidden; padding:10px 5px; background-color:#f0f3f5; border:1px solid #8f98a4; }
.search_area {float: right; padding:2px 0 0 0px; }
.board_page {float:left; font-size:12px; padding:8px 0 0 25px; background: url(../../../images/user/board_page_img.gif) no-repeat 5px 8px; }
.board_page span.p01 {color:#b0282a}
.board_page span.p02 {color:#333}
.board_page span.p03 {color:#777}

/* 테이블 공통 박스 */
table td .news_box { background-color:#D17D50; color:#FFF; padding:7px 10px 5px; font-size:12px !important; line-height:18px; border-radius:0}
table td .bt_progress { background-color:#F90; color:#FFF; padding:7px 10px 5px; font-size:12px !important; line-height:18px; border-radius:0}
table td .bt_completion { background-color:#b0282a; color:#FFF; padding:7px 10px 5px; font-size:12px !important; line-height:18px; border-radius:0}
table td .bt_return { background-color:#36F; color:#FFF; padding:7px 10px 5px; font-size:12px !important; line-height:18px; border-radius:0}
table td .bt_register { background-color:#CCC; color:#FFF; padding:7px 10px 5px; font-size:12px !important; line-height:18px; color:#333; border-radius:0}
table td .bt_route { background-color: #ECECEC; border:1px solid #DFDFDF; color:#333; margin:0 2px;padding:7px 10px 5px; font-size:12px !important; line-height:18px; font-weight:700; border-radius:0}
.table_list_sp01 table .route_viw { text-align:left}
.table_list_sp02 .txtWrap, .authsearch_area .txtWrap { display: inline-block; vertical-align: middle; margin: 0 10px; line-height: 29px; }
.table_list_sp02 .txtWrapB { display: inline-block; vertical-align: middle; margin: 0 5px; font-size:13px; font-weight: 700; color:#fff !important
; line-height: 24px; padding: 0 8px; background-color:#999 }
.table_reset .txtWrap, .btn_all_box .txtWrap { display: inline-block; vertical-align: middle; margin: 0 3px; line-height: 29px; }
.file_etc { display: inline-block; background: url(../../../images/user/icon_files.png) center no-repeat; width:20px; height:20px;}

/* 공통 테이블 A1 */
.table_list_sp01 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; }
.table_list_sp01 table{table-layout: fixed; width: 100%;}
.table_list_sp01 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: center; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_list_sp01 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp01 td :first-child { margin-left: 0; }
.table_list_sp01 table td.txt{font-size: 12px; line-height:18px; overflow: hidden; padding: 5px 10px 7px 10px; text-align: left; text-overflow: ellipsis; white-space: nowrap;}
.table_list_sp01 table td.txt a{color:#333; white-space:nowrap; overflow: hidden;   width:100px;}
.table_list_sp01 table td.txt a:hover{ text-decoration:underline; color:#b0282a}
.table_list_sp01 table td.txt span img{vertical-align:middle}
.table_list_sp01 .Tb_new{ background:#FEF4F3 !important;  }
.table_list_sp01 td .answer { background-color:#b0282a; color:#FFF; font-weight:bold; padding:5px 8px; font-size:13px !important; line-height:18px; border-radius:0px}

/* 공통 테이블 A2 */
.table_list_sp02 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; border-right:1px solid #cecece;  }
.table_list_sp02 table{table-layout: fixed; width: 100%;}
.table_list_sp02 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: left; border-bottom:1px solid #cecece; }
.table_list_sp02 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: left ; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp02 td :first-child { margin-left: 0; }

/* 20180421 */
.table_list_sp02 td ul::after {content:""; display:block; clear:both;}
.table_list_sp02 td ul li {float:left; width:14%;}

/* 공통 테이블 A2 */
.table_list_sp02_v { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; border-right:1px solid #cecece;  }
.table_list_sp02_v table{table-layout: fixed; width: 100%;}
.table_list_sp02_v td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: left; border-bottom:1px solid #cecece; border-right:1px solid #cecece; background-color:#F7F7F7 }
.table_list_sp02_v th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center ; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp02_v td :first-child { margin-left: 0; }
table td.bco01 { color:#FFF !important; font-weight:bold; background:#b0282a !important  }
/* 공통 테이블 A2 */
.table_list_sp02_dv { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; border-right:1px solid #cecece;  }
.table_list_sp02_dv table{table-layout: fixed; width: 100%;}
.table_list_sp02_dv td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: center; border-bottom:1px solid #cecece; border-right:1px solid #cecece; background-color:#F7F7F7 }
.table_list_sp02_dv th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center ; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp02_dv td :first-child { margin-left: 0; }


/* 공통 테이블 A3 */
.table_list_sp03 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece;   }
.table_list_sp03 table{table-layout: fixed; width: 100%;}
.table_list_sp03 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: center; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_list_sp03 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center ; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp03 td :first-child { margin-left: 0; }
.table_list_sp03 table td.txt {  overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap;}

/* 테이블 입력 */
.table_edit_sp03 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece;   }
.table_edit_sp03 table {table-layout: fixed; width: 100%;}
.table_edit_sp03 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: left; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_edit_sp03 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: left ; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_edit_sp03 td :first-child { margin-left: 0; }
.table_edit_sp03 table td.txt {  overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap;}

/* 공통 테이블 A1 */
.table_list_sp04 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; }
.table_list_sp04 table{table-layout: fixed; width: 100%;}
.table_list_sp04 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: left; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_list_sp04 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp04 td :first-child { margin-left: 0; }
.table_list_sp04 table td.txt{font-size: 12px; line-height:18px; overflow: hidden; padding: 5px 10px 7px 10px; text-align: left; text-overflow: ellipsis; white-space: nowrap;}
.table_list_sp04 table td.txt a{color:#333; white-space:nowrap; overflow: hidden;   width:100px;}
.table_list_sp04 table td.txt a:hover{ text-decoration:underline; color:#b0282a}
.table_list_sp04 table td.txt span img{vertical-align:middle}
.table_list_sp04 .Tb_new{ background:#FDE2DF !important;  }
.table_list_sp04 td .answer { background-color:#b0282a; color:#FFF; font-weight:bold; padding:5px 8px; font-size:13px !important; line-height:18px; border-radius:0px}

/* 공통 테이블 A1 */
.table_list_sp05 { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; }
.table_list_sp05 table{table-layout: fixed; width: 100%;}
.table_list_sp05 td { vertical-align: middle; height: 30px; padding: 5px 10px ; color: #434a5d; font-size:12px; text-align: center; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_list_sp05 th { vertical-align: middle; height: 30px; padding: 5px 10px; color: #434a5d; font-size:12px; text-align: center; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_sp05 td :first-child { margin-left: 0; }
.table_list_sp05 tbody tr:hover, .tr_on { background-color:#F6F6F6 !important }


/* viewForm1 */
.view_table_area{position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; border-right:1px solid #cecece;   }
.view_table_area table{table-layout: fixed; width: 100%;}
.view_table_area table thead th, .view_table_area table tbody th {background:#f8f9fb; border-bottom: 1px solid #dedede; padding: 8px 10px 5px 10px;  text-align: left; color:#333; font-size:12px; font-weight: bold; line-height:28px;}
.view_table_area table thead td {background:#FFF; border-bottom: 1px solid #dedede; border-left: 1px solid #dedede; border-right:1px solid #dedede; padding: 8px 10px 5px 10px;  text-align: left; color:#333; font-size:12px; line-height:28px;}
.view_table_area table thead td:last-child{border-right:0px !important; }
.view_table_area td {border-bottom:1px solid #dedede; ; font-size:12px; background-color:#FFF}
.view_table_area th .viewTit {float: left; font-size: 12px; font-weight: 700; line-height: 28px; overflow:hidden}
.view_table_area td.view_area{ font-size:12px; }
.view_table_area td.view_area .txt_view{ padding:10px 20px; line-height:23px;color:#444; overflow-x: auto!important;}
.view_table_area td .fileAdd{padding:15px 20px 16px}
.view_table_area td .fileAdd .txt{font-weight:bold; color:#767676; font-size:13px;}
.view_table_area td .fileAdd .file, .view_table_area td .fileAdd .link{background:url(../../../images/user/icon_bar1x12.gif) no-repeat left 4px; padding-left:11px; margin-left:6px}
.view_table_area .answer_area{border-top:2px solid #0f55a9; border-bottom:1px solid #0f55a9; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; margin-top:15px}
.view_table_area .answer_area .aer_box{background:#f8f9fb; border-bottom:1px solid #e4e4e4; padding:9px 20px 11px}
.view_table_area .answer_area .aer_box strong{background:url(../../../images/user/icon_bar1x12.gif) no-repeat right 5px; color:#444; padding-right:12px; padding-left:0px; margin-right:11px}
.view_table_area .answer_area .Txi01{padding:10px 20px 10px}
.view_table_area .answer_area .Txi01 p{ font-size:13px; color:#2d2d2d; line-height:18px;}

.qa_edit_area{ border:1px solid #e4e4e4; margin:15px}
.qa_edit_area .aer_box{background:#f8f9fb; border-bottom:1px solid #e4e4e4; padding:9px 20px 11px}
.qa_edit_area .aer_box strong{background:url(../../../images/user/icon_bar1x12.gif) no-repeat right 5px; color:#444; padding-right:12px; padding-left:0px; margin-right:11px}
.qa_edit_area .Txi01{padding:10px 20px 10px}
.qa_edit_area .Txi01 p{ font-size:13px; color:#2d2d2d; line-height:18px;}


/* 뷰 이전다음글 */
.listForm2{ border: 1px solid #ddd; margin-top:20px; color:#555; word-wrap:break-word; background-color:#FFF}
.listForm2 .prvLine th{border-bottom:1px solid #ddd}
.listForm2 .prvLine td{border-bottom:1px solid #ddd}
.listForm2 td{text-align:center; line-height:18px; padding:6px 0;}
.listForm2 th{text-align:left; padding:9px 20px 7px; line-height:18px; border-right:1px solid #dedede;}
.listForm2 td.txt{text-align:left; padding-left:20px}
.listForm2 td.txt a:hover{color:#2a67a1; text-decoration:underline; font-weight:bold}
.listForm2 td.txt a{color:#555}
.listForm2 table tr.prvLine th span{background: url(../../../images/user/page_up.png) no-repeat 44px 0px ; display:block}
.listForm2 table tr.nxtLine th span{background: url(../../../images/user/page_down.png) no-repeat 44px 0px ; display:block}
.listForm2 table .answer { background-color:#b0282a; color:#FFF; padding:5px 8px; font-size:12px !important; line-height:18px; border-radius:0px}
.listForm2 table .waiting { background-color:#4d4d4d; color:#FFF; padding:5px 8px; font-size:12px !important; line-height:18px; border-radius:4px}

/* 고객사선택 */
.section { display:inline-block; position:relative;border:1px solid #e9e9e9;background:#fff; *zoom:1; width:200px; max-width:420px; overflow:hidden;}
.section .hx{margin:0;padding:8px 0 7px 7px;border:1px solid #fff;background:#f7f7f7;font-size:13px; line-height:24px; color:#333; }
.section .delete_btn{position:absolute;top:9px;right:10px; background: url(../../../images/user/delete_btn.png) no-repeat; width:24px; height:24px; }
.section .down_btn{position:absolute;top:9px;right:10px; background: url(../../../images/user/down_btn.png) no-repeat; width:24px; height:24px; }
.textarea_box, textarea_box_fa { overflow:hidden; display:block; }
.textarea_box textarea { border: 1px solid #abb1b5; padding: 7px 7px; width:980px; }
.textarea_box_fa textarea { border: 1px solid #abb1b5; padding: 7px 7px; width:850px; }

.box_Txt { display: inline-block; overflow: hidden; position: relative; max-width: 250px; height: 20px; padding: 5px 25px 3px 6px; color: #0294e8; border: 1px solid #abb1b5; vertical-align: middle; background-color:#f7f7f7; margin:2px 0 }
.box_Txt .txt_b_area { display: block; overflow: hidden; font-size: 12px; line-height: 18px; text-overflow: ellipsis; white-space: nowrap; color:#646262; }
.box_Txt .btn_del { position: absolute; top: 7px; right: 5px; width: 18px; height: 18px; margin-left: 1px; background:url(../../../images/user/btn_cancel.png) no-repeat;}
.box_Txt .btn_dow { position: absolute; top: 5px; right: 5px; width: 18px; height: 18px; margin-left: 1px; background: url(../../../images/user/btn_down.png) no-repeat;}

/* 첨부파일 */
.upload_file_box { display:block; overflow:hidden; border:1px solid #CCC}
.upload_file_box .tit_file{  height:43px; line-height:40px;background-color:#f0f3f5; position:relative; border-bottom:1px solid #CCC}
.upload_file_box .tit_file h4 { font-weight:bold;font-size:14px; position:absolute; left:10px;}
.upload_file_box .tit_file .up_btn{ right:20px; position:absolute;}
.upload_file_box .file_list {display:block; overflow:hidden; padding:10px;background-color:#fff;  }
.upload_file_box .file_001 { float:left; padding:5px 5px; border:1px solid #e9e9e9;  overflow: hidden;  vertical-align: middle; line-height:24px;  background:#f7f7f7;}
.upload_file_box .file_002 { float:left; padding:5px 5px; border:1px solid #e9e9e9;  overflow: hidden;  vertical-align: middle; line-height:24px;  background:#f7f7f7; margin:0 3px}
.upload_file_box .file_name {  font-size:13px; padding: 0 5px 0 30px; color:#333  }
.filebox label { display:inline-block;width:90px; line-height:24px; text-align:center;font-weight: bold; color:#4d4d4d !important; background-color:#FFF;  padding:3px 0px 3px 5px; border-style:solid; border-width:1px; border-color: rgb(179, 187, 193) rgb(137, 143, 148) rgb(137, 143, 148) rgb(179, 187, 193); cursor: pointer; vertical-align: middle;  }
.filebox input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.file_list .btn_delete{ display:block; position:absolute; background: url(../../../images/user/delete_btn.png) no-repeat; width:24px; height:24px; }
.file_list .btn_down{ display:block; position:absolute; background: url(../../../images/user/down_btn.png) no-repeat; width:24px; height:24px; }
.fileText {  color: #666; position:absolute; left:70px; font-size:12px; }


/* 하단 */
.footer_comm {width:100%;padding:10px 0;font-size:12px;line-height:18px; text-align:center;clear:both;color:#a5a5a5; border-top:1px solid #d12149 }
.footer_comm .link_info{font-weight:bold;color:#666}
.footer_comm .link_daum{color:#666}
.footer_comm .txt_copyright{ font-weight:bold; padding-top:2px;font-size:13px;font-style:normal;color:#666}
.footer_comm .desc_copyright {font-size:12px;color:#666;line-height:16px}

/* auth 정보 */
.authSearch { padding:14px 18px 12px; border:1px #c8cacc solid; overflow:hidden; box-sizing:border-box; clear:both; background-color:#FFF}
.Sh_tit {float:left; font-size:12px; font-weight:700;  padding:4px 15px 0 20px; background: url(../../../images/user/board_page_img.gif) no-repeat 0px 2px; margin-top:3px; }
.Ah_tit { display:block; font-size:12px; font-weight:700;  padding:4px 15px 0 20px; background: url(../../../images/user/board_page_img.gif) no-repeat 0px 2px; margin-top:3px; }
.board_page span.p01 {color:#b0282a}
.auth_comm_area {float: left; padding:0px 0 0 0px; }
.pnr_data_box { padding:10px 20px 12px; border:1px #c8cacc solid; overflow:hidden; box-sizing:border-box; background-color:#FFF}
.plane_Ti { margin-bottom: 15px;  margin-top: 30px; vertical-align:middle }
.plane_Ti:before { content: ''; display: inline-block; width: 18px; height: 18px; margin: 0 3px 0 0; vertical-align: middle; 	background: url(../../../images/user/plane_img.png) no-repeat 1px -1px; background-size:18px 18px; }
.tbTx { text-align:left; vertical-align:top; line-height:36px; }
.comment_box { overflow:hidden; display:block }
.comment_box textarea { border: 1px solid #abb1b5; padding: 7px 7px; width:964px }
.left_box { overflow:hidden; width:505px; float:left; }
.right_box { overflow:hidden; width:500px; float: right; }
.left_p_box { overflow:hidden; width:445px; float:left; }
.right_p_box { overflow:hidden; width:570px; float: right; }
.btn_all_box { overflow:hidden; box-sizing:border-box; }
.btn_left_area {float: left; padding:2px 0 0 0px; }
.btn_right_area {float: right; padding:2px 0 0 0px; }
.left_box_ad { overflow:hidden; width:505px; float:left; }
.right_box_ad { overflow:hidden; width:505px; float: right;}

/* 코멘트 뷰 */
.pnr_data_box .ag_lstcomment{width:100%}
.pnr_data_box .ag_lstcomment li{position:relative;border-bottom:1px solid #eeeeec;vertical-align:top;zoom:1}
.pnr_data_box .ag_lstcomment li:last-child{border-bottom:0px !important; }
.pnr_data_box .ag_lstcomment .ag_com_off .ag_comment_area{padding-left:0}
.pnr_data_box .ag_lstcomment .ag_info_area{overflow:hidden;padding:3px 0 5px;zoom:1}
.pnr_data_box .ag_lstcomment .ag_section{float:left;margin-top:8px}

.pnr_data_box .ag_nick_name{display:inline-block;*display:inline;padding-left:1px;color:#444}
.pnr_data_box .ag_lstcomment .ag_usr_id,.pnr_data_box .ag_lstcomment .ag_date{display:inline-block;color:#aaa; font-size:12px}
.pnr_data_box .ag_lstcomment .ag_dsc_comment{overflow:hidden;clear:both;padding:0 0 10px 1px;color:#555;line-height:20px}
.pnr_data_box .ag_lstcomment .pf_dsc_comment{overflow:hidden;clear:both;padding:0 0 0px 1px;color:#555;line-height:20px}

.pnr_data_box p { margin: 0; padding: 0; }
.return_dis { background-color:#b0282a; color:#FFF !important }

/* POPUP */
.layerWrap { position:absolute; top:60px; z-index:110; border:0; background-color:#FFF }
.layerWrap h1 { padding: 10px 80px 12px 20px;  color: #fff;  font-size: 22px;  background-color: #a91e3e; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.layercontent { padding:20px 10px }
.layerWrap .layerCloseBtn { position:absolute; border:0; top: 18px; right: 20px; width: 24px; height: 23px; background: url(../../../images/user/layerclose.png) no-repeat ; overflow: hidden; color: transparent; text-indent: 100%; white-space: nowrap; }
.layerscroll { overflow-y: scroll; position: relative; max-height: 553px; padding-bottom: 0; }
.lay_t_box { display:block; overflow:hidden; position:relative}
.lay_t_box .titCntPo { margin-bottom:5px; font-size: 17px; font-weight: bold; color: #434a5d; margin-top: 10px; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.lay_t_box .titCntPo:before { content: ''; display: inline-block; width: 16px; height: 18px; margin: 0 3px 0 0; vertical-align: middle; 	background: url(../../../images/user/board_page_img.gif) no-repeat 0 -2px; }

/* 결제설정 */
.right_a_box { overflow:hidden;  float: right; min-height:100px }
.right_a_box1 { overflow:hidden;  float: right; }
.group_btn_area { display:block; overflow:hidden; width:43px; float: left; margin: 0 8px 0 1px; }
.group_area { overflow:hidden; float:right; width:515px}
.group_box h3 { border-left:1px solid #cecece; border-right:1px solid #cecece; border-top:1px solid #cecece;   height: 40px; -webkit-touch-callout: none; user-select: none; background-color: #f8f9fb; font-size: 12px; line-height: 40px; padding-left: 9px; }
.group_list {border: 1px solid #cecece; border-top: 0; display:block; overflow:hidden; }
.group_list select {  display:block; border:0; padding:5px; font-size:12px; line-height:18px; width:510px; }
.group_list select option { border:1px solid #cecece;background-color: #f8f9fb; padding:5px 10px 4px; margin:4px 0 }
.group_list select option:hover, .group_list select option:active, .group_list select option:visited {border:1px solid #cecece; background-color: #feeeec; }

/**/
.grid_area { display:block; overflow:hidden}
.b_line_1 { border-bottom:1px solid #a91e3e;}
.b_line_2 { border-bottom:1px dashed #a91e3e;}

/* 공통 테이블 A1 */
.table_list_View { color:#555; position:relative;  border-top:1px solid  #cecece; border-left:1px solid #cecece; }
.table_list_View table{table-layout: fixed; width: 100%;}
.table_list_View td { vertical-align: middle; height: 20px; padding: 5px 5px ; color: #434a5d; font-size:12px; text-align: center; border-bottom:1px solid #cecece; border-right:1px solid #cecece; }
.table_list_View th { vertical-align: middle; height: 20px; padding: 5px 5px; color: #434a5d; font-size:12px; text-align: center; background:#f0f3f5; border-bottom:1px solid #cecece;  border-right:1px solid #cecece; }
.table_list_View td :first-child { margin-left: 0; }
.table_list_View table .text { text-align: left; }
.table_list_View table .red { color:#F00 !important }
/* 20180502 */
.table_list_View table tr .table_sum {text-align:right;}

/* 포괄등록 편도,왕복,다구간 설정 */
.comment_mdr { display:block; overflow:hidden; padding:25px 0; border-top:1px solid #CCC; border-bottom:1px solid #CCC }
.comment_mdr p { color: #000; font-size: 18px; text-align: center; letter-spacing: -1.3px;  font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;}
.wayTab03 li { float: left; text-align:center; display:block;  }
.wayTab03 li a { display: inline-block; width: 293px; height: 250px; border: 1px solid #a4a4a4; background: #fff; padding: 9px; margin:0 10px; }
.wayTab03 li a span { display: block; color: #000; font-size: 26px;	font-weight:700;  font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;}
.wayTab03 li a em { display: block; color: #000; font-size: 14px; font-weight:500; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.wayTab03 li a .mdr_icon01:before { content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_oneway_img.png)center no-repeat ; background-size:100px 90px}
.wayTab03 li a .mdr_icon02:before{ content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_roundtrip_img.png)center no-repeat; background-size:100px 90px}
.wayTab03 li a .mdr_icon03:before{ content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_dagudan_img.png)  center no-repeat; background-size:100px 90px}
.wayTab03:after { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.wayTab03 li:first-child {margin-left: 0px;  }
.wayTab03 li .on a,
.wayTab03 li a:hover,
.wayTab03 li a:focus {border:1px solid #f6c4d1; background:#f6c4d1;}

.wayTab02 li { float: left; text-align:center; display:block;  }
.wayTab02 li a { display: inline-block; width: 460px; height: 250px; border: 1px solid #a4a4a4; background: #fff; padding: 9px; margin:0 10px; }
.wayTab02 li a span { display: block; color: #000; font-size: 26px;	font-weight:700;  font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif;}
.wayTab02 li a em { display: block; color: #000; font-size: 14px; font-weight:500; font-family:'Noto Sans','Noto Sans CJK KR','Noto Sans KR Regular' ,sans-serif; }
.wayTab02 li a .mdr_icon01:before { content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_oneway_img.png)center no-repeat ; background-size:100px 90px}
.wayTab02 li a .mdr_icon02:before{ content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_roundtrip_img.png)center no-repeat; background-size:100px 90px}
.wayTab02 li a .mdr_icon03:before{ content: ''; display: block; width: 100px; height: 90px; margin: 28px auto 10px; background: url(../../../images/user/mdr_icon_dagudan_img.png)  center no-repeat; background-size:100px 90px}
.wayTab02:after { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.wayTab02 li:first-child {margin-left: 0px;  }
.wayTab02 li .on a,
.wayTab02 li a:hover,
.wayTab02 li a:focus {border:1px solid #f6c4d1; background:#f6c4d1;}

/* 20180503 */
.gline {width: 520px;}
.gline ul::after {content:""; display:block; clear:both;}
.gline ul li:: {background: url(./images/right_arrow.png); }
.gline ul li { float:left; width:72px; margin-top:6px; font-size:12px; font-weight:bold;text-align:center; line-height:20px;box-sizing: border-box; font-weight: bold;}
.gline ul li:nth-child(even) {width:32px; margin-top:13px;}
.gline ul .lineon {border:1px solid #f00000;}

.download_file_box { display:block; overflow:hidden; border:1px solid #CCC}
.download_file_box .tit_file{  height:43px; line-height:40px;background-color:#f0f3f5; position:relative; border-bottom:1px solid #CCC}
.download_file_box .tit_file h4 { font-weight:bold;font-size:14px; position:absolute; left:10px;}
.download_file_box .tit_file .up_btn{ right:20px; position:absolute;}
.download_file_box .file_list {display:block; overflow:hidden; padding:10px;background-color:#fff;  }
.download_file_box .file_001 {  padding:5px 5px; border:1px solid #e9e9e9;  overflow: hidden;  vertical-align: middle; line-height:24px;  background:#f7f7f7;}
.download_file_box .file_002 { padding:5px 5px; border:1px solid #e9e9e9;  overflow: hidden;  vertical-align: middle; line-height:24px;  background:#f7f7f7; margin:10px 3px}
.download_file_box .file_name {  font-size:13px; padding: 0 5px 0 30px; color:#333  }

/* 20180510 */
/* pop_table */
.pop_grid_box::after {content:""; display:block; clear:both;}
.pop_grid{border:1px solid #8f98a4;height:200px; width:49%; box-sizing:border-box; display:inline-block;float:left;}
.pop_grid:nth-last-child(1){float:right;}

/* 20180514 */
/* radio btn */
.inline-radio { display: inline-block; overflow: hidden; border: 1px solid #b6b6b6;}
.inline-radio::after{content:""; display:block; clear:both;}
.inline-radio div { position: relative; width:90px; float:left; border-right:1px solid #b6b6b6;}
.inline-radio div:last-child{ border-right:0px;}
.inline-radio input { width: 100%; height: 28px; opacity: 0; cursor:pointer;}
.inline-radio label { position: absolute; top: 0; left: 0; color: #646262; width: 100%; height: 100%; background: #fff; display: flex; align-items: center; justify-content: center; pointer-events: none; border-right: 0px solid #b6b6b6; }
.inline-radio div:last-child label { border-right: 0px;}
.inline-radio input:checked + label {background: #ab4351; font-weight: 500; color: #fff; font-weight:bold;}

/* 20180514 */
/* box_sm_011 btn */
.box_sm_011::after {content:""; display:block; clear:both;}
.box_sm_011 button {float:right;}
.box_sm_011 .btnType04:hover {background-color:#b0282a; color:#fff;}
