@charset "utf-8";
/* 이스타항공 AUTH시스템 */



/* content(크기수정) 클래스명 변경 */
.content .titBox2{position:relative; 
	display:block; 
	overflow:hidden; 
	height:75px; }
.content .titBox2 h1{ background: url(../../../images/user/tit_c_doc.png) top left no-repeat;}
.content .titBox2 h2{position:absolute;
	top:38px;
	right:0;
	letter-spacing:-1px;}
.content .titBox2 .tit{ font-size:30px; 
	line-height:42px; 
	font-weight:700px !important; 
	color:#333; 
	position:absolute; 
	top:13px; 
	left:0px; 
	padding-top:15px; 
	letter-spacing:-1px;}

.subTit{position:absolute;
	top:50px;
	right:0;}



/*add_check*/
.add_ck{width:18px;
	height:18px;
	left:25px !important;}
.add_ck_bg{margin:0 auto;
	float:none !important;
	width:18px !important;
	height:18px !important;
	background-size:18px !important;}



/*input*/
.reserve td input{height:32px;
	padding-left:10px;}



/* inputTypeview1*/
.inputTypeview{border:1px solid #c8cacc ;
	background-color:#fff;}
.inputTypeview table{table-layout: fixed; 
	width: 100%; }
.inputTypeview th { vertical-align: middle; 
	height: 24px; 
	padding: 10px 10px 10px 20px; 
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	text-align: left; 
	border-top: 1px solid #ccc; 
	background-color:#f8f9fb; 
	border-right:1px solid #dedede ;}
.inputTypeview td { vertical-align: middle; 
	height: 24px; 
	padding: 10px 10px 5px 5px;
	text-align:right;
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	background-color:#FFF;}
.inputTypeview td :first-child { margin-left: 0; }
.inputTypeview span.desc, .boardTypeForm span.error { vertical-align: middle; 
	margin-left: 8px; 
	font-size:13px; }
.inputTypeview .desc { color: #2763ba; }	
.inputTypeview .txtWrap { display: inline-block; 
	vertical-align: middle; 
	margin: 0 10px; 
	line-height: 29px; }
.inputTypeview .txtWrapB { display: inline-block; 
	vertical-align: middle; 
	margin: 0 5px; 
	font-size:13px; 
	font-weight: 700; 
	color:#fff !important ; 
	line-height: 24px; 
	padding: 0 8px; 
	background-color:#999; }
.inputTypeview .select_style{height:28px !important;}
.inputTypeview .inputText{height:28px !important;
	line-height:24px;}
.thCenter th{text-align:center !important;}



/*inputTypeview2*/
.inputTypeview2{border:1px solid #c8cacc ;
	background-color:#fff;}
.inputTypeview2 table{table-layout: fixed; 
	width: 100%; }
.inputTypeview2 th { vertical-align: middle; 
	height: 24px; 
	padding: 10px 10px 10px 20px; 
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	text-align: left; 
	border-top: 1px solid #ccc; 
	background-color:#f8f9fb; 
	border-right:1px solid #dedede ;}
.inputTypeview2 td { vertical-align: middle; 
	height: 24px; 
	padding:10px;
	text-align:right;
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	background-color:#FFF;}



/*inputTypeview3*/
.inputTypeview3{border:1px solid #c8cacc ;
	background-color:#fff;}
.inputTypeview3 table{table-layout: fixed; 
	width: 100%; }
.inputTypeview3 th { vertical-align: middle; 
	height: 24px; 
	padding: 10px 10px 10px 20px; 
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	text-align: left; 
	background-color:#f8f9fb; 
	border-left:1px solid #dedede ;
	border-bottom:1px solid #dedede;}
.inputTypeview3 td { vertical-align: middle; 
	height: 24px; 
	padding:10px;
	text-align:right;
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	background-color:#FFF;
	border-left:1px solid #dedede ;
	border-bottom:1px solid #dedede;}
.inputTypeview td :first-child { margin-left: 0; }



/*inputTypeview4*/
.inputTypeview4{border:1px solid #c8cacc ;
	background-color:#fff;}
.inputTypeview4 table{table-layout: fixed; 
	width: 100%; }
.inputTypeview4 th { vertical-align: middle; 
	height: 24px; 
	padding: 10px 10px 10px 20px; 
	color: #434a5d; 
	font-size:14px; 
	font-weight: 700; 
	text-align: center; }
.inputTypeview4 td { vertical-align: middle; 
	height: 24px; 
	padding:10px;
	text-align:left;
	color: #b0282a; 
	font-size:14px; 
	font-weight: 700; 
	background-color:#FFF;}



/* contentTb */
.contentTb{border:1px solid #dedede; 
	border-bottom: 0px solid #dedede;}
.contentTb table{table-layout: fixed; 
	width: 100%;}
.contentTb table thead th {background:#f8f9fb; 
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px 15px 11px; 
	text-align: center; 
	color:#333; 
	font-size:14px; 
	font-weight:700;}
.contentTb table tbody th {background:#f8f9fb; 
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px 15px 11px; 
	text-align: left; 
	color:#333; 
	font-size:14px; 
	font-weight:700;}
.contentTb table thead td {background:#FFF; 
	border-bottom: 1px solid #dedede; 
	border-left: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px 10px 11px; 
	text-align: left; 
	color:#333; 
	font-size:14px;}
.contentTb table tbody td {background:#FFF;  
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:7px 10px 8px; 
	text-align: left; 
	color:#333; 
	font-size:14px;}
.contentTb table thead th:last-child{border-right:0px !important; }
.contentTb table tbody th:last-child{border-right:0px !important; }
.contentTb table thead td:last-child {border-right:0px !important; }
.contentTb table tbody td:last-child {border-right:0px !important; }
.contentTb table tbody th.thumbnail{background-color:#FFF !important; 
	text-align:center; 
	width:94px; 
	padding: 0px !important; }

select.select_style2 { height: 32px; 
	padding:3px 5px 3px 10px;  
	border-width: 1px; 
	border-style: solid;	
	border-color: rgb(137, 143, 148) rgb(179, 187, 193) rgb(179, 187, 193) rgb(137, 143, 148); 
	color: #666; 
	font-size: 13px; 
	line-height: 28px; 
	vertical-align: top  ; }




/*piece_area*/
.piece_area{overflow:hidden;}
.piece_area .L_area{width:49%;
	float:left;
	margin-right:10px;}
.piece_area .R_area{float:right;
	width:49%;}





/*scheduleForm*/
.mask{position:fixed;
	top:0;
	bottom:0;
	left:0;
	background:rgba(0, 0, 0, .4);
	width:100%;
	display:none;
	cursor:pointer;
	z-index:1000;
	overflow:hidden;
	overflow-y:auto;}
.scheduleForm{position:absolute;
	top:350px;
	left:500px;/*
	margin-left:-230px;*/
	border:2px solid #b0282a;
	z-index:999;
	background-color:#fff;
	padding:20px;
	width:900px;
	overflow:hidden;
	display:none;
	text-align:center;/*
	transform:translateX(-50%) translateY(-50%);*/}
.scheduleForm .input_tb{float:left;
	width:150px;}
.scheduleForm .input_tb td{text-align:left !important;
	font-size:16px;
	font-weight:normal;
	margin-left:}

.scheduleForm .btn{float:right;}
.scheduleForm button{}
.scheduleForm table td input{height:32px;
	padding-left:10px;}
.scheduleForm table td .mini_r_table{top:0 !important;}



/*display*/
.display{}
.display td{text-align:center !important;}



/* addSearch */
.authSearch { padding:10px 20px 12px; 
	border:1px #c8cacc solid;
	font-size:15px; 
	overflow:hidden; 
	box-sizing:border-box; 
	clear:both; 
	background-color:#FFF;}
.Sh_tit {float:left; 
	font-size:14px; 
	font-weight:700; 
	padding:14px 5px 10px 40px !important; 
	background: url(../../../images/user/board_page_img.gif) no-repeat 20px 15px; }
.board_page span.p01 {color:#b0282a}
.auth_comm_area {float: left; 
	padding:2px 0 0 0px; }



/*btn*/
.piece{overflow:hidden;}
.piece_tb{width:346px;
	/*border-left:1px solid #dedede;*/
	float:left;}

.tbBtn{position:absolute;
	top:30px;
	right:0;}
.tdBtn{margin:0 !important;}



/**/
.data_txt span{display:inline-block;
	font-size:15px;
	color:#b0282a;
	font-weight:bold;
	float:left;
	margin:10px 0 0 0;}
.btn_mini{margin:0 0 10px 0 !important;}


.qcomment_box { overflow:hidden;}
.qcomment_box textarea { border: 1px solid #abb1b5; 
	padding: 7px 7px; 
	width:100%; }
.edit_table2_area td.view_area .txt_view{ padding:10px 20px; 
	line-height:23px;
	color:#444; }
.viewForm1 td.view_area .txt_view{ padding:10px 20px; 
	line-height:23px;
	color:#444; }

.data_p{font-size:15px;
	font-weight:bold;
	color:#555;}

.add_tb_01{width:640px;
	float:left;
	margin-right:50px;}
.add_tb_01 th{text-align:center !important;}
.add_tb_01 td{text-align:center !important;}
.add_tb_02{width:406px;
	float:left;}
.add_tb_02 th{text-align:center !important;}
.add_tb_02 td{text-align:center !important;}


.centerTb th{text-align:center !important;}
.centerTb td{text-align:center !important;}



/*공통*/
.pr_0 {padding-right:0 !important;}
.pr_5 {padding-right:5px !important;}
.pr_10 {padding-right:10px !important;}
.pr_20 {padding-right:20px !important;}

.relative{position:relative;}

.f_right{float:right !important;}
.f_left{float:left !important;}

.textLeft{text-align:left !important;}
.textCenter{text-align:center !important;}
.textRight{text-align:right !important;}

.txt_view{min-height:300px !important;}



/*FAQ*/
.faq_content{background:#fff;}
.faq_content li{border-bottom:1px solid #dedede;}
.faq_content li .sight {overflow:hidden;}
.faq_content li .sight:hover{background-color:#ffeaeb}
.faq_content li .fix_t{padding:8px 38px;
	border-right:1px solid #dedede;
	display:block;
	float:left;}
.faq_content li .fix_c{padding:8px 0 8px 15px;
	display:block;
	float:left;}
.faq_content li .fix_big{width:80px;
	text-align:center;
	padding:8px 14.5px;
	-webkit-padding-before:8px;
	-webkit-padding-end:15px;
	-webkit-padding-after:8px;
	-webkit-padding-start:15px;
	}
.faq_content li .content{display:none;
	position:relative;
	overflow:hidden;
	border-top:1px solid #dedede;}
.faq_content li .content .move_t{position:absolute;
	top:0;
	left:0;
	display:block;
	padding:8px 38px;
	float:left;
	}
.faq_content li .content .move_c{margin-left:86px;
	padding:8px 0 8px 15px;
	border-left:1px solid #dedede;
	display:block;}




/*예매 조회정보 입력*/
.cross{text-align:left !important;}
.chBox{}
.ckBox{}
.chBox .check_table2{float:left;}

.ckml_3{margin-left:2px;
	-webkit-margin-start:5px;}

.mini_check {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden;}
.mini_ck_table {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden; 
	top:4px; 
	display:inline-block;}
.mini_check input.form-inputPop, .mini_ck_table input.form-inputPop {position:absolute; 
	top:5px; 
	left:0; 
	opacity:0; 
	cursor:pointer; 
	z-index:5; 
	width:16px; 
	height:16px;}
.mini_check i, .mini_ck_table i {float:left; 
	display:block; 
	width:16px; 
	height:16px; 
	background: url(../../../images/user/check_all.png) no-repeat left top; 
	background-size:16px;
	margin-top:2px;
	z-index:3;}
.mini_check label, .mini_ck_table label  {float:left; 
	margin-left:4px; 
	cursor:pointer; 
	font-size:13px; 
	color:#434a5d;}
.mini_check input.form-inputPop:checked+i, .mini_ck_table input.form-inputPop:checked+i {background-position:left bottom;}
.mini_check input.form-inputPop:checked+i+label, .mini_ck_table input.form-inputPop:checked+i+label {color:#434a5d;}



.mini_radio {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden;}
.mini_r_table {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden; 
	top:4px; 
	display:inline-block  ;}
.mini_radio input.form-inputPop1, .mini_r_table input.form-inputPop1 {position:absolute; 
	top:5px; 
	left:0; 
	opacity:0; 
	cursor:pointer; 
	z-index:5; 
	width:16px; 
	height:16px;}
.mini_radio i, .mini_r_table i {float:left; 
	display:block; 
	width:16px; 
	height:16px; 
	background-size:16px !important;
	margin-top:2px;
	background: url(../../../images/user/radio_all.png) no-repeat left top; 
	z-index:3;}
.mini_radio label, .mini_r_table label  {float:left; 
	margin-left:4px; 
	cursor:pointer; 
	font-size:13px; 
	color:#434a5d;}
.mini_radio input.form-inputPop1:checked+i, .mini_r_table input.form-inputPop1:checked+i {background-position:left bottom;}
.mini_radio input.form-inputPop1:checked+i+label, .mini_r_table input.form-inputPop1:checked+i+label {color:#434a5d;}





/*loading_bar*/
.loading{display:block;/*
	background:rgba(0, 0, 0, .6);*/
	background:rgba(255, 255, 255, .6);
	width:100%;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	cursor:pointer;
	z-index:1000;
	overflow:hidden;
	overflow-y:auto;
	}
.loading .load_wrap{display:inline-block;
	width:210px;
	height:210px;
	position:absolute;
	top:50%;
	left:50%;
	z-index:9999;
	margin-left:-105px;
	margin-top:-105px;
	text-align:center;}
.loading .load_wrap .load{float:left;
	width:100%;
	position:relative;}
.loading .load_wrap .load img{width:300px;
	height:100px;}





/* POPUP */
.layerWrap{border:2.5px solid #b0282a;}

.route_img{width:17px;
	vertical-align:middle;
	margin:-2px 5px 0 1px;}

.popup_m_tit{color:#fff !important;
	font-weight:bold;
	margin-left:-5px;
	font-size:15px;}
.popup_m_tit2{color:#fff !important;
	font-size:12px;}

.dim{width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0.5;
	background:#000;
	z-index:100;}

.layer_tit .tit_txt{padding:10px 80px 12px 20px;
	color:#fff;
	font-size:22px;
	background-color:#a91e3e;}



/*POPUP 0328*/
#popup{width:1100px;
	margin:50px auto;
	border:1px solid #d4d4d4;
	padding-left:30px;
	padding-right:30px;
	background-color:#fff;}
#popup .content{width:100% !important;}
#popup .commBox{border-bottom:none !important;}






/*사전좌석 신청*/
.seat{overflow:hidden;}
.seat .seat_date{display:block;
	float:left;
	width:25%;}
.seat .seat_selec{display:block;
	float:left;
	width:72%;
	margin-left:33px;}
.seat .seat_selec .seat_img{border:1px solid #dedede;
	height:485px;}




/*NEW, NOTICE class*/
table td .new_box { background-color:#D17D50 !important; 
	color:#FFF !important; 
	font-size:10px !important; 
	line-height:15px !important; 
	width:15px !important;
	height:15px !important;
	display:inline-block !important;
	border-radius:0 !important;
	font-weight:normal !important;}

table td .answer { background-color:#b0282a !important; 
	color:#FFF !important; 
	font-weight:bold !important; 
	padding:5px 8px !important; 
	font-size:13px !important; 
	line-height:18px !important; 
	border-radius:0px !important;}
	
	
	
	
	
/* reserve_date*/
.reserve_date{border:1px solid #c8cacc ;
	background-color:#fff;
	padding:5px 0;}
.reserve_date table{table-layout: fixed; 
	width: 100%; }
.reserve_date td { vertical-align: middle; 
	height: 22px; /*
	padding: 10px 10px 10px 5px;*/
	padding:5px;
	text-align:center;
	color: #434a5d; 
	background-color:#FFF;}
.reserve_date td :first-child { margin-left: 0; }
.reserve_date .inputText{height:28px !important;
	line-height:24px;}
.thCenter th{text-align:center !important;}
.reserve_date input, .reserve_date select{height:32px !important;}

.reserve_date .mini_check {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden;}
.reserve_date .mini_ck_table {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden; 
	top:4px; 
	display:inline-block;}
.reserve_date .mini_check input.form-inputPop, .mini_ck_table input.form-inputPop {position:absolute; 
	top:0; 
	left:0; 
	opacity:0; 
	cursor:pointer; 
	z-index:5; 
	width:45px; 
	height:20px !important;}
.reserve_date .mini_check i, .mini_ck_table i {float:left; 
	display:block; 
	width:14px; 
	height:14px; 
	background: url(../../../images/user/check_all.png) no-repeat left top; 
	background-size:14px;
	margin-top:3px;
	z-index:3;}
.reserve_date .mini_check label, .mini_ck_table label  {float:left; 
	margin-left:4px; 
	cursor:pointer; 
	font-size:13px !important; 
	color:#434a5d;
	padding-bottom:3px;
	-webkit-padding-after:0px;}

.reserve_date .mini_radio {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden;}
.reserve_date .mini_r_table {position:relative; 
	text-align:left; 
	cursor:pointer; 
	overflow:hidden; 
	top:4px; 
	display:inline-block  ;}
.reserve_date .mini_radio input.form-inputPop1, .mini_r_table input.form-inputPop1 {position:absolute; 
	top:0; 
	left:0; 
	opacity:0; 
	cursor:pointer; 
	z-index:5; 
	width:45px; 
	height:20px !important;}
.reserve_date .mini_radio i, .mini_r_table i {float:left; 
	display:block; 
	width:14px; 
	height:14px; 
	background-size:14px !important;
	margin-top:3px;
	background: url(../../../images/user/radio_all.png) no-repeat left top; 
	z-index:3;}
.reserve_date .mini_radio label, .mini_r_table label  {float:left; 
	margin-left:4px; 
	cursor:pointer; 
	font-size:14px !important; 
	color:#434a5d;
	padding-bottom:3px;
	-webkit-padding-after:0px;}
.selec{overflow:hidden;
	text-align:center;}
.selec .delete{border:1px solid #c2c2c2;
	display:block;
	width:28px;
	height:28px;
	float:left;
	text-align:center;
	background:url(https://zeimage.eastarjet.com/newstar/images/btn_minus.png) center no-repeat;
	background-size:12px;}
.selec .number{border:1px solid #c2c2c2;
	display:block;
	width:45px;
	height:28px;
	float:left;
	text-align:center;
	color:#d00b40;
	line-height:30px;
	background:#f7f7f7;}
.selec .plus{border:1px solid #c2c2c2;
	display:block;
	width:28px;
	height:28px;
	float:left;
	text-align:center;
	background:url(https://zeimage.eastarjet.com/newstar/images/btn_plus.png) center no-repeat;
	background-size:12px;}
.pd_m{padding:35px 25px !important;}
.ml_4{margin-left:4px;}

.choice_form1{margin-bottom:3px;
	-webkit-margin-after:0px;}
.choice_form2{margin-left:3px;
	-webkit-margin-start:0px;}


/*+++세로 수정_0509*/
.persinforbox .titCntTP{margin-bottom:8px !important;
	margin-top:15px !important;
	font-size:15px !important;}
.persinforbox .tbBtn{top:11px !important;}
.persinforbox .tbBtn button{height:27px !important;
	line-height:24px !important;
	padding:0 15px !important;
	font-weight:normal !important;}
.data_table_area{margin-top:0 !important;
	margin-bottom:0 !important;}
.reserve_date{padding:40px 35px 50px 35px !important;
	border:1px solid #BF3F41;}







/*plan_date popup*/
.popup_wrap{width:98% !important;
	padding:0px !important; 
	border:0px !important; 
	margin-top:0px !important;}
.divide_l{width:55%;}
.divide_r{width:42.5%;}

.section_board{margin-bottom:0px; 
	background-color:#d12149; }

.plan_wrap{border-top:0px;
	overflow:hidden;}

.plan_date{}
.bd_none{border-top:0;}
.plan_noti{width:100%; 
	display:inline-block; 
	margin-top:10px;
	font-size:13px;}
.plan_noti span{letter-spacing:-1px;}
.plan_noti .text{font-size:13px;
	color:#d00b40;}

.fold_wrap{width:280px;}
.fold_wrap .fold_tit{border:1px solid #8e0114;
	background-position:right 10px center;
	background-color:#8e0114;
	color:#fff;
	display:inline-block;
	padding:0;
	padding-left:10px;
	line-height:40px;
	width:356px;
	position:relative;
	font-weight:500;
	font-size:16px;
	background-image:url(../../../images/user/open.png);
	background-repeat:no-repeat;
	background-size:20px;}
.fold_wrap .fold_tit strong{float:right;
	font-weight:normal;
	margin-right:42px;}
.fold_wrap .fold_cont{padding:18px;
	border:1px solid #cecece;
	border-top:0;
	font-size:15px;
	display:none;
	width:330px;}
.fold_wrap .fold_cont .rule{border-bottom:1px solid #cecece; 
	font-size:14px;}
.fold_wrap .fold_cont ul .em{font-weight:bold;}
.fold_wrap .fold_cont ul .f_c_list{padding-top:15px;}
.fold_wrap .fold_cont ul .f_c_list:first-child{padding-top:10px;}
.fold_wrap .fold_cont ul .f_c_list:last-child{padding-bottom:10px;}
.fold_wrap .fold_cont dl{overflow:hidden;
	padding:4px 0;}
.fold_wrap .fold_cont dl dt{float:left;}
.fold_wrap .fold_cont dl dd{float:right;}







/*fileAdd*/
.fileAdd{padding:15px 20px 16px;}
.fileAdd .txt{font-weight:bold;
	color:#767676;
	font-size:13px;}
.fileAdd .file, .fileAdd .link{background:url(../../../images/user/icon_bar1x12.gif)no-repeat left 4px;
	padding-left:11px;
	margin-left:6px;}
.box_Txt{display:inline-block;
	overflow:hidden;
	position:relative;
	max-width:250px;
	height:20px;
	padding:5px 25px 3px 6px;
	color:#0294e8;
	border:1px solid #abb1b5;
	vertical-align:middle;
	background-color:#f7f7f7;
	margin:2px 0;}
.box_Txt .txt_b_area{display:block;
	overflow:hidden;
	font-size:12px;
	line-height:18px;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#646262;}
.box_Txt .btn_dow{position:absolute;
	top:5px;
	right:5px;
	width:18px;
	height:18px;
	margin-left:1px;
	background:url(../../../images/user/btn_down.png)no-repeat;}
	
	
	
	
	

/*check_terms*/
.check_terms{border:1px solid #dedede;
	border-bottom:0;}
.check_terms table{table-layout: fixed;
	width:100%;}
.check_terms table thead th{background:#f8f9fb; 
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px; 
	text-align: center; 
	color:#333; 
	font-size:14px; 
	font-weight:700;}
.check_terms table tbody th{background:#f8f9fb; 
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px; 
	text-align: center; 
	color:#333; 
	font-size:14px; 
	font-weight:700;}
.check_terms table thead td{background:#FFF; 
	border-bottom: 1px solid #dedede; 
	border-left: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px; 
	text-align: center; 
	color:#333; 
	font-size:14px;}
.check_terms table tbody td{background:#FFF; 
	border-bottom: 1px solid #dedede; 
	border-right:1px solid #dedede; 
	padding:10px; 
	text-align: center; 
	color:#333; 
	font-size:14px;}
.check_terms table thead th:first-child{}
.check_terms table thead th:last-child{}
.check_terms table thead td:first-child{}
.check_terms table thead td:last-child{}
.check_terms table tbody th:first-child{}
.check_terms table tbody th:last-child{}
.check_terms table tbody td:first-child{}
.check_terms table tbody td:last-child{}
.data_table_area table tbody th.thumbnail{background-color:#FFF !important; text-align:center; width:94px; padding: 0px !important; }







/*total*/
.total{float:none;
	display:inline-block;
	padding:0 0 0 25px !important;
	background-position:5px 0 !important;}








/*seat*/
.seat_img{overflow-y:scroll;}
.flight{width:100%;
	padding-top:118px; 
	position:relative;}
.flight img {position:absolute;
	left:50%;
	top: 0;
	width: 408px !important;
	margin-left: -205px; }
.flight table {width:230px; 
	margin:0 auto; 
	z-index:1; 
	position:relative;}
.flight table label {display:block; 
	width:100%;}
.flight table .iradio_minimal-red {margin-right:0;
	margin:0 auto; 
	border:2px solid #fff;  
	border-radius:0; 
	width:25px; 
	height:25px;
	box-sizing:border-box ;}
.flight table .iradio_minimal-red.focus,
.flight table .iradio_minimal-red.hover{outline-color:#000;}
.flight table .iradio_minimal-red.checked {border:2px solid #d00b40 !important; 
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/c_chked.png) center no-repeat; 
	background-size:cover;}
.flight table .icheck.s1 .iradio_minimal-red {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat1.png) center no-repeat; }
.flight table .icheck.s2 .iradio_minimal-red {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat2.png) center no-repeat;}
.flight table .icheck.s3 .iradio_minimal-red {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat3.png) center no-repeat;}
.flight table .icheck.s4 .iradio_minimal-red {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat4.png) center no-repeat;}
.flight table .icheck.s5 .iradio_minimal-red {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat5.png) center no-repeat;}
.flight table .iradio_minimal-red.disabled {background-size:auto 25px; 
	border:0;
	background:#fff url(https://zeimage.eastarjet.com/newstar/images/seat6.png) center no-repeat;}/*
.flight table .iradio_minimal-red.checked {border:2px solid #d00b40 !important;
	background-image:url(https://zeimage.eastarjet.com/newstar/images/c_chked.png) !important;}*/
.flight table .iradio_minimal-red.hover,
.flight table .iradio_minimal-red.focus {border:2px solid #000 !important;
	box-sizing:border-box ;}
.focus{border:2px solid #000 !important;
	box-sizing:border-box ;}
.checked {background-image:url(https://zeimage.eastarjet.com/newstar/images/c_chked.png) !important; 
	border:2px solid #d00b40 !important;
	background-size:cover !important;}/*
.flight table .iCheck-helper{cursor:pointer;z-index:999;}*/
.flight table td,
.flight table th {height:28px;}
.flight table thead th {padding-top:0; 
	padding-bottom:0; 
	height:27px;}
.flight table th {color:#737373; 
	font-size:13px; 
	padding-bottom:0;}
.flight table td.null {height:30px;}
.flight table .icheck .iradio_minimal-red input{z-index:9999;}